*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

section {
  display: inline-block;
  margin: .5em 0;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: .25em 0;
}

label {
  font-size: 10pt;
}

#title{
  padding: 1em 1em 0 1em;
}

#bird-container {
  background-color: #16ca66;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  min-width: 500px;
}

#scope-container {
  display: inline-block;
  margin: .5em;
  transform: rotate3d(1, 1, 1, 12.3deg);
  position: relative;
  top: -50px;
  right: -37px;
}

#bird-graphic {
  margin: .5em;
  height: 200px;
  width: 200px;
  display: inline-block;
}


tone-oscilloscope {
  height: 200px;
  width: 200px;
  display: inline-block;
  background: transparent;
}

#control-container {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  border-radius: 1em;
}
